.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;
}

body{
	background-color: #333;
}

.page{
	padding: 20px;
}
.page__block{
	margin-bottom: 50px;
}

.block {
}
.block__item {
	width: 200px;
	height: 200px;
	background-color: red;
	transition: background-color 4s ease;
}
.block__text{
	text-align: center;
	font-size: 24px;
	opacity:0;
	transition: opacity 3s ease 1s;
}

.block__item:hover .block__text{
	opacity: 1;
}

.block:hover .block__item{
	background-color: green;
}


.animation {
	padding: 20px;
}
.animation__block {
	width: 500px;
	margin-top: 50px;
	margin-bottom: 50px;
	color: white;
}
.block-animation {
}

.block-animation__title {
	font-size: 40px;
	animation: title 1s ease forwards;
	transform: translate(0px, 50%);
	opacity: 0;
}

.block-animation__title:not(:last-child){
	margin-bottom: 20px;
}
.block-animation__subtitle {
	font-size: 24px;
	animation: subtitle 2s ease forwards;
	transform: translate(0px, 50%);
	opacity: 0;
}
.block-animation__subtitle:not(:last-child){
	margin-bottom: 20px;
}
.block-animation__text {
	font-size: 16px;
	animation: text 3s ease forwards;
	transform: translate(0px, 50%);
	opacity: 0;
}
.block-animation__text:not(:last-child){
	margin-bottom: 20px;
}

@keyframes title {
	0% {
	}
	100% {
		transform: translate(0px, 0%);
		opacity: 1;
	}
}

@keyframes subtitle {
	0% {
	}
	100% {
		transform: translate(0px, 0%);
		opacity: 1;
	}
}

@keyframes text {
	0% {
	}
	100% {
		transform: translate(0px, 0%);
		opacity: 1;
	}
}

.rotation {
	padding: 20px;
}
.rotation__block {
	margin-top: 50px;
	animation: block-rotation infinite 5s ease;
}
.block-rotation {
	width: 200px;
	height: 200px;
	background-color: rgb(61, 61, 194);
}
.block-rotation__item {
}

@keyframes block-rotation {
	0% {
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
}
}